In [1]:
from dsc2024 import datasets

In [2]:
df = datasets.get_public_dataset()
# sampling
# df = df.sample(n=10000, replace='False')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302399 entries, 0 to 302398
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   flightid                       302399 non-null  object
 1   hora_ref                       302399 non-null  object
 2   origem                         302399 non-null  object
 3   destino                        302399 non-null  object
 4   url_img_satelite               298666 non-null  object
 5   metaf                          155737 non-null  object
 6   metar                          300770 non-null  object
 7   prev_troca_cabeceira           302399 non-null  int64
 8   troca_cabeceira_hora_anterior  302399 non-null  int64
 9   espera                         211679 non-null  float64
dtypes: float64(1), int64(2), object(7)
memory usage: 23.1+ MB

In [4]:
df.head()

,flightid,hora_ref,origem,destino,url_img_satelite,metaf,metar,prev_troca_cabeceira,troca_cabeceira_hora_anterior,espera
0,504a62621cd231d6ab67e674ce538cd3,2022-06-01T01:00:00Z,SBCF,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
1,b0fd0f83644625ecc21f5261e8e5e347,2022-06-01T01:00:00Z,SBPA,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
2,1210f0ca07ddca00d09a3e02d3b100d8,2022-06-01T01:00:00Z,SBSP,SBCF,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCF 010000Z 12006KT CAVOK 21/14 Q1018=,0,0,0.0
3,b25032f34507cce285ee779446496568,2022-06-01T01:00:00Z,SBGR,SBCT,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCT 010000Z 10006KT 7000 -RA BKN004 OVC...,0,0,0.0
4,00762a9892ecba7c66d1d87800d38cac,2022-06-01T01:00:00Z,SBSP,SBSV,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBSV 010000Z 11008KT 9999 FEW023 27/21 Q...,0,1,0.0

In [15]:
from metpy import io
# ref: https://unidata.github.io/MetPy/latest/api/generated/metpy.io.parse_metar_to_dataframe.html
df_metar = io.metar._metars_to_dataframe(df['metar'].dropna().to_list())
df_metar

,station_id,latitude,longitude,elevation,date_time,wind_direction,wind_speed,wind_gust,visibility,current_wx1,...,air_temperature,dew_point_temperature,altimeter,current_wx1_symbol,current_wx2_symbol,current_wx3_symbol,remarks,air_pressure_at_sea_level,eastward_wind,northward_wind
station_id,,,,,,,,,,,,,,,,,,,,,
SBKP,SBKP,-23.00,-47.12,661,2024-04-01 06:00:00,120.0,10.0,NaN,6000.0,TSRA,...,17.0,16.0,30.03,1095,0,0,RERA,1016.19,-8.660254,5.000000
SBPA,SBPA,-30.00,-51.17,3,2024-04-02 03:00:00,NaN,2.0,NaN,9999.0,NaN,...,11.0,10.0,30.12,0,0,0,,1020.31,NaN,NaN
SBSV,SBSV,-12.90,-38.32,6,2024-04-02 07:00:00,220.0,3.0,NaN,9999.0,NaN,...,25.0,22.0,29.88,0,0,0,,1012.28,1.928363,2.298133
SBPA,SBPA,-30.00,-51.17,3,2024-04-03 22:00:00,140.0,3.0,NaN,9999.0,NaN,...,12.0,10.0,30.24,0,0,0,,1024.30,-1.928363,2.298133
SBFL,SBFL,-27.67,-48.53,5,2024-04-04 22:00:00,60.0,1.0,NaN,9999.0,NaN,...,17.0,14.0,30.21,0,0,0,,1023.30,-0.866025,-0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SBGR,SBGR,-23.42,-46.47,750,NaT,220.0,2.0,NaN,9999.0,NaN,...,16.0,16.0,30.18,0,0,0,,1021.34,1.285575,1.532089
SBCT,SBCT,-25.52,-49.17,908,NaT,120.0,4.0,NaN,9999.0,NaN,...,15.0,13.0,30.21,0,0,0,,1022.34,-3.464102,2.000000
SBSP,SBSP,-23.62,-46.63,803,NaT,200.0,7.0,NaN,9999.0,NaN,...,16.0,14.0,30.21,0,0,0,,1022.23,2.394141,6.577848
SBKP,SBKP,-23.00,-47.12,661,NaT,200.0,4.0,NaN,9999.0,NaN,...,18.0,16.0,30.18,0,0,0,,1020.99,1.368081,3.758770
SBRJ,SBRJ,-22.88,-43.17,3,NaT,310.0,4.0,NaN,9999.0,NaN,...,20.0,19.0,30.03,0,0,0,,1017.29,3.064178,-2.571150

In [22]:
io.parse_metar_to_dataframe(df['metaf'].dropna().iloc[0].replace('METAF', 'METAR'))

,station_id,latitude,longitude,elevation,date_time,wind_direction,wind_speed,wind_gust,visibility,current_wx1,...,air_temperature,dew_point_temperature,altimeter,current_wx1_symbol,current_wx2_symbol,current_wx3_symbol,remarks,air_pressure_at_sea_level,eastward_wind,northward_wind
station_id,,,,,,,,,,,,,,,,,,,,,
SBGR,SBGR,-23.42,-46.47,750,2024-04-01 01:00:00,110,8.0,NaN,1000,BR,...,15.0,14.0,30.06,10,0,0,,1017.59,-7.517541,2.736161

In [21]:
df['metaf'].dropna().iloc[0].replace('METAF', 'METAR')

'METAR SBGR 010100Z  11008KT 1000     BR OVC033   15/14 Q1018= '

In [20]:
df['metar'].dropna().iloc[0]

'METAR SBFL 010000Z 17009KT 140V200 9999 BKN030 14/07 Q1020='

In [ ]:
# metaf -> metar
#